blockquote,.blockquote{
  position:relative;
  font-weight:$light;
  font-size:1.467rem;
  &:before {
    content: "";
    position: absolute;
    left: -50px;
    height: 22px;
    width: 36px;
    background-image: url('../images/icons/blockquote-icon.svg');
   }
}
.blockquote--author{
  padding-top:0.7333rem;
}
