.jumbotron{
  background:url('../images/jumbotron.png');
  background-size:cover;
  min-height: 520px;;
  display:flex;
  justify-content: center;
  align-items:center;

}

.jumbotron--content{
  max-width:65%;
  color:#fff;
  text-align: center;

  h1{
  font-weight: $extra-bold;
    font-size: 2rem;
    color:#fff;
  }
  p{
    padding-top:1rem;
    padding-bottom:2rem;
    font-size: 1.067rem;
    font-weight:$semi-bold;
    color:#fff;
  }

}

@media screen and (max-width: 725px) {
  .jumbotron--content{
    max-width:95%;
    .button{
      min-width:5rem;
    }
  }
}
