@import url(https://fonts.googleapis.com/css?family=Open+Sans:3OO,400,600,700,800);

$open-sans: 'Open Sans', serif;


//FONT STYLES //
$light:300;
$normal:400;
$semi-bold: 600;
$bold: 700;
$extra-bold:800;

h1{
  font-size:1.33rem;
  color:$orange;
  text-transform: uppercase;
  font-weight: $extra-bold;
}
h2{
  font-size:1.067rem;
  color:$orange;
  font-weight: $bold;
}
.heading--white{
  color:white;
}

p{
  font-size:1rem;
  color:#433B3D;
}
