/* Normalize */
@import "../node_modules/normalize-scss/sass/normalize";

/* MIXINS */
@import "mixins/lists";
/* Colors */
@import "colors";
/* Fonts */
@import "typography";
/* GRID */
@import "grid";

@import "header";

@import "links";

@import "buttons";

@import "block";

@import "jumbotron";

@import "lists";

@import "badges";

@import "blockquote";

@import "images";

@import "forms";

@import "articles";

@import "footer";
*{
  padding:0;
  margin-top:0;
  margin-bottom:0;
  box-sizing: border-box;
}

body{
  margin-top:0;
  font-family: $open-sans;
  color:black;
  font-size:15px;
}
