/* Normalize */
@import "../node_modules/normalize-scss/sass/normalize";

/* MIXINS */
@import "mixins/lists";
/* Colors */
@import "colors";
/* Fonts */
@import "fonts";
/* GRID */
@import "grid";

@import "header";

@import "links";
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{

  font-family: $open-sans;
  color:black;
  font-size:15px;
}
